/* Paleta de colores 01 */

:root {
    /* Paleta de Colores 01 */

    --color-turquesa: #32a2ae;    /* Turquesa */
    --color-verde: #2d8c72;  /* Verde */
    --color-oscuro: #3f3f3f;      /* Gris de botones */
    --color-shdw: #2e2e2e;

    /*Color hover*/
    --color-hover: #166534; /* Verde más oscuro para hover */   

   /* Colores BG */
    --bg-medio: #c6c6c5;
    --bg-white:#ffffff;

     /* Fuentes */ 
    --texto-dark:#202020;
    --texto-media: #646464;
    --texto-light: #ffffff;

    /* Bordes */
    --borde: #2e2e2e;
    --radio-borde: 25px;
    --ancho-borde-boton: 1px;

    /* Sombra */
    --shdw: #2e2e2e;
    --shdw-green:#2d8c72;  
}



